/* ===== iOS/Telegram WebView anti-zoom ===== */
input,
textarea,
select,
button {
  -webkit-text-size-adjust: 100%;
}

.input,
.textarea,
.select {
  font-size: 16px !important; /* критично: iOS не будет зумить */
  line-height: 22px;
}

.textarea {
  min-height: 110px;
  resize: none;
}

/* чуть приятнее на iOS */
input,
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
}

/* отключаем “клик-zoom” жесты/подсветку */
body {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
